body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: normal 14px/18px helvetica, arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

div {
    display: block;
}
a {
    text-decoration: none;
}
.clearfix:after {
    content: ".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
#header {
    padding:35px 0 0 0;
    background:#F4F6F3;
}
#strip {
    position:relative;
    width: 780px;
    margin: 0 auto;
    text-align: left;
    /* overflow:auto; */
}
#header #strip #st {
    position: relative;
    width: 250px;
    float:left;
    /* overflow:auto; */
    }
#header #strip #dr {
    position: relative;
    float: left;
}
#header #strip #st h1 {
    position: relative;
    float: left;
    font-size: 50px;
    line-height: 54px;
}
#header #strip #st #search {
    position: relative;
    float:left;
}
#content-strip {
    position:relative;
    width:780px;
    margin:0 auto;
}
/* --------------- form --------------- */

form {
    display: block;
}
form a, form a:hover, form a:active {
    color: #f26323;
    text-decoration: none;
}
input {
    font-size: 13px;
    color: #3d3c39;
    /* gri border: 1px solid #aeaca7; */
    border: 1px solid #f26323;
    background-color: #f4f7f1;
    padding: 8px;

}
/* --------------------- footer ----------------------*/

#footer {
    background: #f4f6f3;
    padding: 10px;
    font-size: 14px;
    line-height: 15px;
}
#footer-box {
    width: 780px;
    margin: 0 auto;
    border: 1px solid #a7a7a7;
    background: #fff;
}
#footer-box ul {
    list-style:none;
    font-size: 11px;
    line-height: 12px;
}
#footer-box ul li {
    display: inline;
}
