<%# form_tag :controller => 'docs', :action => 'search', :method => 'get' do %>
<% form_tag '/docs/search', :method => :get do %>
<%= text_field_tag :search, params[:search], :id => 'search_field' %>
<%= submit_tag "Search", :name => nil %>
<%= link_to_function "Clear", "$('search_field').clear()" %>
<% end %>
